body{
	display: flex;
}

*{
	font-family: 'Oswald', sans-serif;
}

.contenedor{
	border: 1px solid;
	margin: 0 auto;
	width: 60%;
	background: #fff;
	padding: 10px; 
}

.principal{
	background: #cb009b;
	padding: 10px; 
}


.header{
	display: flex;
}

.nombre{
	margin-left: 40px;
	width: 100%;
}

.titulo{
	border: 1px solid #cb009b;
	color: #cb009b;
}